<!--DOCTYPE html -->
<html>
<body style="font-family:Helvetica; background-color: rgba(0,0,0, 0.3);";>
<style> p {
    border: 2px solid grey;
    background-color: rgba(255,255,255, 0.5)}
    .logo {position: absolute;
    left: 9px;
    top: 15px;}
    }
</style>


  <div class='logo'><a href= /posts/ ><img src = "https://static1.squarespace.com/static/540934dee4b04f2a4feb92d7/t/55772c50e4b01be17f660360/1433873502215/RSS"
    style="width:50px;height:52px;"></a></div>
     <h1><center> Create a new post below:</center></h1>

<center><form method='POST' action=''> {% csrf_token %}
{{form.as_p}}
<input type='submit' value='Create Post' />
</form></center>
</body>


</html>
